@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 212 100% 48%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 270 59% 58%;
    --secondary-foreground: 0, 0%, 100%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 240 5% 65%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

* {
  -ms-overflow-style: none;
  user-select: none;
}

html,
body {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  display: none;
}

@layer base {
  * {
    @apply border-border tracking-normal;
  }

  body {
    @apply bg-background/80 text-foreground;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .text-paragraph {
    @apply font-poppins text-sm font-light leading-6 tracking-wide text-accent-foreground;
  }

  .text-heading-1 {
    @apply font-inter text-4xl font-bold leading-tight text-foreground;
  }

  .text-heading-2 {
    @apply font-fira text-xl font-medium text-foreground;
  }

  .text-heading-3 {
    @apply font-inter text-xl font-bold uppercase tracking-wide text-foreground;
  }

  .text-heading-4 {
    @apply font-fira text-lg font-normal tracking-normal text-foreground;
  }
}
